# Зависимости
/node_modules

# Директории бэкенда

# Файлы IDE
/.idea
# .docs/


# Сборка
dist
dist-ssr

# Логи
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Локальные файлы
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local
.env
.env.production

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Cursor
.cursor/

# Директории документации
# /docs/
